@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.flag {
  width: 28px;
  height: 17px;
  background-image: url('../assests/images/flags.png');
  background-repeat: no-repeat;
  background-size: 28px 221px;
}

.flag-aut { background-position: 0 0; }
.flag-blr { background-position: 0 -17px; }
.flag-can { background-position: 0 -34px; }
.flag-chn { background-position: 0 -51px; }
.flag-fra { background-position: 0 -68px; }
.flag-ger { background-position: 0 -85px; }
.flag-ita { background-position: 0 -102px; }
.flag-ned { background-position: 0 -119px; }
.flag-nor { background-position: 0 -136px; }
.flag-rus { background-position: 0 -153px; }
.flag-sui { background-position: 0 -170px; }
.flag-swe { background-position: 0 -187px; }
.flag-usa { background-position: 0 -204px; }

.gold-circle {
  width: 24px;
  height: 24px;
  background-color: gold;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #d4af37;
}

.silver-circle {
  width: 24px;
  height: 24px;
  background-color: #c0c0c0;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #a9a9a9;
}

.bronze-circle {
  width: 24px;
  height: 24px;
  background-color: #cd7f32;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #b87333;
}
